$primary-color: #fc8100;

body {
  background-color: #fffdfa;
}

p {
  margin: 0 0 1em 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  margin: 0 0 0.5em 0;
}

h1 {
  color: $primary-color;
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, Sans-Serif;
  font-size: 35px;
  font-weight: 700;
}

h2 {
  color: $primary-color;
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, Sans-Serif;
  font-size: 21px;
  font-weight: 700;
}

h3 {
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, Sans-serif;
  font-size: 17px;
  font-weight: bold;
}

h5 {
  color: #999;
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, Sans-serif;
  font-size: 19px;
  font-weight: normal;
}

h1 + h5 {
  margin-top: -0.75em;
  margin-bottom: 1em;
}

a {
  color: $primary-color;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
  color: inherit;
}
